<!DOCTYPE html>
<html ng-app="contactUsApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contacto</title>

<!-- CSS de Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- Scripts de jQuery y Bootstrap -->
<script src="js/angular.js"></script>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/application/contactUs.js"></script>
<script>
	$('document')
			.ready(
					function() {

						// name validation
						var nameregex = /^[a-zA-Z ]+$/;

						$.validator.addMethod("validname", function(value,
								element) {
							return this.optional(element)
									|| nameregex.test(value);
						});

						// valid email pattern
						var eregex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

						$.validator.addMethod("validmail",
								function(value, element) {
									return this.optional(element)
											|| eregex.test(value);
								});

						$("#register-form")
								.validate(
										{

											rules : {
												name : {
													required : true,
													validname : true,
													minlength : 4
												},
												mail : {
													required : true,
													validmail : true
												}
											},
											messages : {
												name : {
													required : "Introduzca nombre",
													validname : "El nombre sólo debe contener letras y espacios",
													minlength : "Nombre demasiado corto"
												},
												mail : {
													required : "Introduzca email",
													validmail : "Email no válido"
												}
											},
											errorPlacement : function(error,
													element) {
												$(element).closest(
														'.form-group').find(
														'.help-block').html(
														error.html());
											},
											highlight : function(element) {
												$(element).closest(
														'.form-group')
														.removeClass(
																'has-success')
														.addClass('has-error');
											},
											unhighlight : function(element,
													errorClass, validClass) {
												$(element)
														.closest('.form-group')
														.removeClass(
																'has-error')
														.addClass('has-success');
												$(element).closest(
														'.form-group').find(
														'.help-block').html('');
											},

											submitHandler : function(form) {
												angular
														.element(
																document
																		.getElementById('contactUsAppCtrl'))
														.scope().sendMail();
											}
										});
					})
</script>
</head>

<body ng-controller="contactUsAppCtrl" id="contactUsAppCtrl">
	<!-- Menú de navegación -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="home.html">Rol Generator</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Juegos<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="l5a.html">La leyenda de los cinco anillos</a></li>
							<li><a href="cthulhu.html">La llamada de Cthulhu</a></li>
						</ul></li>
					<li><a href="shop.html">Enlaces de Compra</a></li>
					<li class="active"><a href="contactUs.html">Contacto</a></li>
					<li><a href="actualizaciones.html">Próximas
							actualizaciones</a></li>
					<li><a href="descargas.html">Descargas</a></li>
				</ul>
				<div class="navbar-right navbar-text">
					<a class="navbar-link" href="registration.html">Regístrate</a>
				</div>
			</div>

		</div>
	</nav>

	<!-- Contenedor para el formulario -->
	<div class="container">
		<div class="jumbotron">
			<h1>Contacto</h1>
			<p>Para información o sugerencias, contáctenos:</p>

			<!-- Formulario con envío de email -->
			<!-- form start -->
			<form role="form" id="register-form" autocomplete="off">
				<div class="form-body">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-user"></span>
							</div>
							<input name="name" ng-model="nombre" type="text"
								class="form-control" placeholder="Nombre">
						</div>
						<span class="help-block" id="error"></span>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-envelope"></span>
							</div>
							<input name="mail" ng-model="mail" type="text"
								class="form-control" placeholder="Email">
						</div>
						<span class="help-block" id="error"></span>
					</div>

					<div class="form-group">
						<label>Dudas o sugerencias:</label>
						<textarea class="form-control" maxlength="250"
							ng-model="contenido" required></textarea>
					</div>
				</div>

				<div class="form-footer">
					<button type="submit" class="btn btn-info">
						<span class="glyphicon glyphicon-log-in"></span> Enviar
					</button>
				</div>


			</form>
		</div>
	</div>

	<!-- Pie de página -->
	<footer class="footer">
		<div align="center" class="container"
			style="width: auto; padding: 0 15px;">
			<p class="text-muted" style="margin: 20px 0;">Copyright (c) Jorge
				López Yagüe 2016</p>
		</div>
	</footer>
</body>
</html>